<div id="invitation-container">
  <div style="padding:20px 150px; " class="clearfix">
    <h4 class="pull-left color-highlight" style="font-size: 25px;">欢迎参加曹蓉蓉和陈小伟的婚礼！</h4>
    <table class="pull-right" style="margin-top:5px;">
      <tr>
        <td style="padding:0 20px 5px 0">
          <i class="icon-calendar color-highlight"></i>
          2015年02月23日(星期一) 晚间18:00
        </td>
        <td style="padding:0 0 5px 0">
          <i class="icon-envelope color-highlight"></i>
          669314508@qq.com  
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon-map-marker color-highlight"></i>
          兴化市昌荣镇昌荣大酒店
        </td>
        <td>
          <i class="icon-phone color-highlight"></i>
          18652040516
        </td>
      </td>
    </table>
  </div>
</div>
